// // 全局class
// body,html
//     line-height 1
//     font-weight 200
// ul
//     list-style none
//     padding 0
//     margin 0
// // h2
// //     margin 0
// // p
// //     margin 0
// // 根据不同的dpi缩放，正常是px的两倍
// .clearfix
//     display inline-block
//     &:after
//         display block
//         content "."
//         height 0
//         line-height 0
//         clear both
//         visibility hidden
// @media(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5)
//     .border-1px
//         &::after
//             // Y轴缩放n倍
//             -webkit-transform scaleY(0.7)
//             transform scaleY(0.7)

// @media(-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
//     .border-1px
//         &::after
//             -webkit-transform scaleY(0.5)
//             transform scaleY(0.5)